<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CSS/AnomalyResults.css">
<!--    in this html file we have the anomaly table that show the line and type of anomaly(error)-->
    <title>Errors</title>
</head>
<body>
<!--title of the table-->
  <h1 class="title">Detected Errors</h1>
  <table width="80%" id="error_result">
      <thead>
          <tr>
<!--              title of anomaly type (Information)-->
              <th class="info">Information</th>
<!--              title of anomaly line (Roe id)-->
              <th class="row">Row id</th>
          </tr>
      </thead>
      <tfoot>
<!--        <tr>-->
<!--            <td></td>-->
<!--        </tr>-->
      </tfoot>
  </table>
</body>
</html>